{
    "url_api" : "{{g_url_api}}",
    "version_api" : "{{g_version_api}}",
    "nombre_app" : "{{g_nombre_app}}",
    "id_centro": {{g_id_centro}},
    "id_rol_admin": {{g_id_rol_admin}},
    "id_rol_usuario": {{g_id_rol_usuario}}
}